:root {
  --background: #fff;
  --input-border-color: #979797;
  --input-background-color: #fff;
  --text-color: #1b2028;
  --bg-secondary: #ededed;
  --rating-color: #f1c40f;
  --bg-modal: #ededed;
}